.scrollSection {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.line {
  height: 6rem;
  background-color: #38c198;
  width: 2px;
}
.scrollDown {
  transform: rotate(270deg);
  width: 10rem;
  transform-origin: -1% 50%;
  position: absolute;
  top: 11.5rem;
  font-weight: 400;
  cursor: pointer;
}
.scrollDown:hover {
  color: #38c198;
}

.scrollSpace {
  height: 7rem;
}

.homeInfo {
  margin-top: 4rem;
}
.homeInfo h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.homeInfo h4 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.contactIcon {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.contactIcon p {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
}

.icon {
  color: #38c198;
  font-size: 1.1rem;
}

.socialIcon {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  margin-top: 2rem;
}

.image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.aboutSection {
  display: flex;
  justify-content: center;
}

.btnDiv {
  display: flex;
  margin-right: 1rem;
  margin-left: 5rem;
}

.btn {
  padding: 0.2rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: 0.1rem #38c198 solid;
  font-weight: 900;
  margin: 1rem;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #06966b;
}

.cvBtn {
  color: #38c198;
  background-color: #fff;
}
.cvBtn {
  color: #38c198;
  background-color: #fff;
}
.abtn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talkBtn {
  color: #fff;
  background-color: #38c198;
}

.aboutDiv {
  max-width: 50%;
  margin-left: 5rem;
}
.aboutDiv h2 {
  text-align: center;
  margin-bottom: 1.8rem;
}

.languageDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30vw;
  align-self: center;
  margin-left: 2rem;
  margin-top: 1rem;
}

.languageBox {
  display: flex;
  background-color: #38c198;
  color: #fff;
  border-radius: 2px;
  width: 5rem;
  margin-top: 0.5rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}
.homeMain {
  padding: 0 5rem;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 600px) {
  .scroll {
    display: none;
  }
  .scrollSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homeMain {
    padding: 0;
  }
  .homeInfo {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgDiv {
    margin: 0 auto;
  }
  .contactIcon p {
    font-size: 1.1rem;
    margin-top: 0.3rem;
  }
  .socialIcon {
    gap: 2rem;
  }
  .aboutSection {
    flex-direction: column;
  }

  .btnDiv {
    margin: 0;
  }

  .aboutDiv {
    max-width: 100%;
    margin: 0rem;
  }

  .aboutDiv h2 {
    max-width: 100%;
    margin: 0rem;
  }
  .aboutDiv p {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
  }

  .languageDiv {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding-left: 1.2rem;
    box-sizing: border-box;
    width: 100%;
    gap: 0.5rem;
  }

  .languageBox {
    width: 6rem;
    height: 2.5rem;
  }
}
