* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  overflow: hidden;
}
.circle {
  position: absolute;
  background-color: #38c198;
  border-radius: 50%;
}

.big {
  height: 25rem;
  width: 25rem;
  top: 30rem;
  left: -12rem;
  background: rgba(212, 234, 245, 0.2);
  border: 0.3rem #38c198 solid;
}

.big-1 {
  height: 5rem;
  width: 5rem;
  top: 0rem;
  right: 3rem;
}

.small {
  height: 18rem;
  width: 18rem;
  top: 20rem;
  left: -12rem;
}
.small-1 {
  height: 5rem;
  width: 5rem;
  top: 0rem;
  left: 12rem;
}

@media screen and (max-width: 600px) {
  .circle {
    display: none;
  }
}
