* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  overflow: hidden;
}
.circle {
  position: absolute;
  background-color: #38c198;
  border-radius: 50%;
}

.big {
  height: 25rem;
  width: 25rem;
  top: 30rem;
  left: -12rem;
  background-color: white;
  border: 0.3rem #38c198 solid;
}
.big-1 {
  height: 25rem;
  width: 25rem;
  top: 80rem;
  right: -12rem;
}

.small {
  height: 18rem;
  width: 18rem;
  top: 20rem;
  left: -12rem;
}
.small-1 {
  height: 10rem;
  width: 10rem;
  top: 5rem;
  right: -7rem;
}
